*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #227B66;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    text-align: center;
    width: 100%;
    padding: 1.2rem;
}
.change{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.enter, .delete{
    padding: 1rem;
    background-color: #24229C;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 200px;
    border-radius: 10px;
    color:#96F3A4 ;   
    transition: transform 0.2s, box-shadow 0.2s;
}

.card.deleting{
    cursor: pointer;
    opacity: 0.8;
    transform: translateY(-2px);
    transition: transform 0s;
    border: 2px dashed #D5A0F1;
}

.delete:active{
    background-color:#D5A0F1;
}


.enter:hover, .delete:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: 0.2s;
}

.fa {
    margin: 6px;
    scale: 150%;
    margin-right: 10px;
}
h1{
    color: #96F3A4;
    margin-bottom: 20px;
    font-size: 2rem;
}
.board{
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 15px;
    justify-content: space-around;
}
.list{
    background-color: #96F3A4;
    padding: 1rem;
    border-radius: 8px;
    width: 30%;
    min-height: 400px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.list h2{
    color: #24229C;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
.card{
    background-color: #24229C;
    color: #96F3A4;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: grab;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover{
    transform: scale(105%);
    transition: 0.2s;
}
.card:active{
    cursor: grabbing;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.list.over{
    background-color: #4ECE7A;
}
@media (max-width:768px){
    .board{
        flex-direction: column;
        align-items: center;
    }
    .list{
        width: 80%;
        margin-bottom: 20px;
    }
}